{% extends "../base.html" %}
{% block title %}

    K R A Z E L I N E - {{ title }}
{% endblock %}

{% block content %}

<div id="main">

    <!-- Intro -->
							<section id="intro">
								<a href="#" class="logo"><img src="images/logo.jpg" alt="" /></a>
								<header>
									<h2>Krazeline</h2>
									<p>{{ about }} </p>
								</header>
							</section>

{% for post in posts %}
    <section>
                            <article class="post">
								<header>
									<div class="title">
										<h2><a href="blog/?id={{ post.pk }}">{{ post.title }}</a></h2>
										<p>{{ post.short_des }}</p>
									</div>
									<div class="meta">
										<time class="published" datetime="2015-11-01">{{ post.date }}</time>
										<a href="#" class="author"><span class="name">{{ post.writer.userprofileinfo }}</span>
                                            <img src=" {% if post.writer.userprofileinfo.profile_pic %}
                                                    {{ post.writer.userprofileinfo.profile_pic.url }}
                                                 {% endif %}"
                                                 alt="" /></a>
									</div>
								</header>
								<a href="single.html" class="image featured"><img src="
                {% if post.image %}
                 {{ post.image.url }}
                  {% endif %}
            " alt="" /></a>
								<p>
                                    {{ post.long_des|slice:":255" }}...
                                </p>
								<footer>
									<ul class="actions">
										<li><a href="{% url 'blog' %}?id={{ post.pk }}" class="button large">Continue Reading</a></li>
									</ul>
									<ul class="stats">
										<li><a href="{% url 'landing' %}?={{ post.genre }}">{{ post.genre }}</a></li>
										<li><a href="#" class="icon fa-heart">{{ post.likes }}</a></li>
										<li><a href="#" class="icon fa-comment">{{ post.comment_set.all | length}}</a></li>
									</ul>
								</footer>
							</article>
                        </section>
{% endfor %}

</div>


{% endblock %}